/* Colors */
$text-color: #333333;
$dark-gray: #979797;
$light-gray: #e3e3e3;
$bg-color: #f5f5f2;
$dark-orange: #f58220;
$yellow-color: #ffa200;
$light-green: #04ae00;
$dark-green: #74b67a;
$light-dark-green: #96cc9b;
$pink: #ec7171;
$dark-blue: #56819f;
$red: #ff0000;
$section-header-gray: #a6a6a6;
$navbar-font-color: #999999;
$links-color: #56819f;
$row-hover-color: #bababa;
$input-border-focus: #b1b1b1;
$sidebar-color: #191919;
$table-header: #A6A6A6;

/* Font sizes */
$paragraph-font-size: 14px;
$section-header-font-size: 16px;
$page-header-font-size: 16px;
$links-font-size: 16px;
$sm-links-font-size: 13px;
$button-font-size: 18px;
$icon-fs: 16px;


/* Fonts */
$main-font: 'Roboto', sans-serif;
